<body>
<p class="container">This is a coding bootcamp project that will have people run through a turn of Magic the Gathering twice; once playing 
well and once playing poorly. The data from this well then be run through the Watson Discovery API to create an AI that
will play through a single turn of MTG optimally.</p>
<div class="button_container">
  <button>Play the Game</button>
  <button>Watch the AI</button>
</div>
</body>
